body {
    background-color:darkgray;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;

}


#pfpimg {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    -moz-box-shadow:    3px 3px 5px 6px #000000;
    -webkit-box-shadow: 3px 3px 5px 6px #000000;
    box-shadow:         3px 3px 5px 6px #808080;
}



#about {
    background-color: black;
    color: darkgray;
    text-align: left;
}

#gmail1 {
    height: 30px;
    width: 40px;
}

#pinterest1 {
    height: 30px;
    width: 30px;
}

#twitter1 {
    height: 30px;
    width: 30px;
}

#dc1 {
    height: 30px;
    width: 30px;
}

#spot1 {
    height: 30px;
    width: 40px;
}

#contacts {
    background-image: url("Cheers!.png");
}